DATABASE_URL_CREDIT="mysql://root:kokoro_root@127.0.0.1:3307/kokoro"
KOKORO_CREDIT_PORT=4231
KOKORO_USER_BASE_URL="http://kokoro-user:4211"
KOKORO_MODEL_BASE_URL="http://kokoro-model:4221"
KOKORO_CREDIT_BASE_URL="http://kokoro-credit:4231"
KOKORO_PAYMENT_BASE_URL="http://kokoro-payment:4241"
